.image{
    background-image: url(1_夜空.jpg);
    width: 100%;
    height: 370px;
    position: relative;
    opacity: 0.7;
}

.image p{
    color: rgba(255, 255, 255, 0.842);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 70px;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}